<h1 style="text-align:center; color:blue; font-size:48px;">
üêç Creaci√≥n de funciones, estructuras de datos y bucles üêç
</h1>

<h2 style="text-align:center; color:gold; font-size:28px;">
Tarea S9.01
</h2>

### NIVEL 3 ###

1. Generador de Contrase√±as  

Explora el funcionamiento del m√≥dulo random de la librer√≠a NumPy.  
[Numpy_module_random](https://www.cybrosys.com/blog/random-module-in-numpy)

En este punto, el cliente ha detectado un problema con las contrase√±as que utilizan sus trabajadores: Asdf1234, fechas de cumplea√±os o similares.  
Para solucionarlo, nos ha encargado una funci√≥n en Python que genere contrase√±as m√°s seguras.  

La funci√≥n debe depender de los siguientes par√°metros:  

- longitud (int): Longitud de la contrase√±a
- mayusculas (bool = True): Si deben aparecer letras may√∫sculas
- minusculas (bool = True): Si deben aparecer letras min√∫sculas
- numeros (bool = True): Si deben aparecer n√∫meros
- signos (bool = False): Si deben aparecer caracteres especiales (., $ ? o similares)

In [17]:
# importo las varias librerias y modulos

import numpy as np

import string

In [18]:
def generador_contrasenas(longitud, letras_may=True, letras_min=True, numeros=True, simbolos=False):

    ''' 
    crea los grupos de caracteres:
    -letras mayuscola y minuscola
    -numeros y simbolos
    '''

    letras_min_set = list(string.ascii_lowercase) + ["√±"]
    letras_may_set = list(string.ascii_uppercase) + ["√ë"]
    numeros_set = list("0123456789")
    simbolos_set = list("@#$%&/()=+-_*<>[]{}|\\^~¬∞¬™¬∫‚Ç¨.,;:!?¬ø¬°'")

    '''
    verifica qu√© tipos de caracteres quiere incluir el usuario
    en su contrase√±a
    '''

    contrasena = []

    if letras_may:
        contrasena += letras_may_set
    if letras_min:
        contrasena += letras_min_set
    if numeros:
        contrasena += numeros_set
    if simbolos:
        contrasena += simbolos_set

    if not contrasena:
        raise ValueError("Debes activar al menos un tipo de car√°cter")
    
    '''
    Genera la contrase√±a seleccionando caracteres aleatorios,
    los mezcla para evitar patrones y devuelve el resultado como string
    '''


    rng = np.random.default_rng()
    resultado = [rng.choice(contrasena) for _ in range(longitud)]
    rng.shuffle(resultado)

    
    return "".join(resultado)

In [19]:
contrase√±a = generador_contrasenas(10, True, True, True, True)

print(contrase√±a)

### Pyperclip : para copiar y pegar en el portapapeles 

import pyperclip

pyperclip.copy(contrase√±a)

k2i&¬øX¬°9xA


2. Procesamiento de datos simple  

Una compa√±era de trabajo nos ha pedido un favor, aprovechando que sabe que estamos aprendiendo a programar. Tiene un hist√≥rico de partidos de f√∫tbol catal√°n en un archivo,   
donde est√°n almacenados los nombres de los equipos y los resultados. Necesita que procesemos los datos de manera autom√°tica para extraer los resultados que necesita.  


Utiliza el archivo "historic_partits.txt"  

Necesita un programa que devuelva:
- El n√∫mero total de goles que ha marcado cada equipo.
- El nombre del equipo m√°s goleador.
- El nombre del equipo m√°s goleado.
- La clasificaci√≥n global (cada victoria: 3 pts, empate 1 pt, derrota 0 pts).

In [20]:
### Primero , importar pandas

import pandas as pd

df_historic_partits = pd.read_csv(r"Archivos/historic partits.txt", sep="\t" , header=None)

df_historic_partits = df_historic_partits.rename(columns={0:"equipo_local",1:"resultado",2:"equipo_visitante"})

df_historic_partits

            equipo_local resultado equipo_visitante
0                Manlleu       0-1       Granollers
1             Vilafranca       4-5         Terrassa
2                   Olot       5-0       Granollers
3             Vilafranca       5-5          Manlleu
4               Cornell√†       5-1             Prat
..                   ...       ...              ...
495  N√†stic de Tarragona       1-3             Olot
496             Badalona       5-4             Prat
497                 Olot       4-5       Llagostera
498         FC Barcelona       3-1         Cornell√†
499                 Olot       0-5       Granollers

[500 rows x 3 columns]

In [21]:
### hago una copia para no arriesgar da√±ar los datos originales.

df_historic_partits_c = df_historic_partits.copy()

### controlo si hay valores nullos

df_historic_partits_c.isna().sum()

equipo_local        0
resultado           0
equipo_visitante    0
dtype: int64

In [22]:
### funciones super util para ver los datos ###

df_historic_partits_c.info()

df_historic_partits_c.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   equipo_local      500 non-null    object
 1   resultado         500 non-null    object
 2   equipo_visitante  500 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

       equipo_local resultado equipo_visitante
count           500       500              500
unique           20        36               20
top        Sabadell       4-5         Figueres
freq             31        22               34

In [23]:
### Preparo los datos da inserir en la funci√≥n:

# divido los goles del resultado

df_historic_partits_c[["goles_local", "goles_visitante"]] = df_historic_partits_c["resultado"].str.split("-", expand=True)

# ganador

df_historic_partits_c["ganador"] = None


def ganador(fila):
    if int(fila["goles_local"]) > int(fila["goles_visitante"]):
        return fila.iloc[0]   
    elif int(fila["goles_local"]) < int(fila["goles_visitante"]):
        return fila.iloc[2]   
    else:
        return None


# perdedor

df_historic_partits_c["perdedor"] = None


def perdedor(fila):
    if int(fila["goles_local"]) < int(fila["goles_visitante"]):
        return fila.iloc[0]   
    elif int(fila["goles_local"]) > int(fila["goles_visitante"]):
        return fila.iloc[2]   
    else:
        return None
    

# empate

df_historic_partits_c[["empate"]] = None


def empate(fila):
    if int(fila["goles_local"]) == int(fila["goles_visitante"]):
        return fila.iloc[0], fila.iloc[2]  


### aplico

df_historic_partits_c["ganador"] = df_historic_partits_c.apply(ganador, axis=1)
df_historic_partits_c["perdedor"] = df_historic_partits_c.apply(perdedor, axis=1)
df_historic_partits_c["empate"] = df_historic_partits_c.apply(empate, axis=1)


### transformo formatos columnas "goles" en INT

df_historic_partits_c["goles_local"] = df_historic_partits_c["goles_local"].astype(int)

df_historic_partits_c["goles_visitante"] = df_historic_partits_c["goles_visitante"].astype(int)


df_historic_partits_c

,equipo_local,resultado,equipo_visitante,goles_local,goles_visitante,ganador,perdedor,empate
0,Manlleu,0-1,Granollers,0,1,Granollers,Manlleu,None
1,Vilafranca,4-5,Terrassa,4,5,Terrassa,Vilafranca,None
2,Olot,5-0,Granollers,5,0,Olot,Granollers,None
3,Vilafranca,5-5,Manlleu,5,5,None,None,"(Vilafranca, Manlleu)"
4,Cornell√†,5-1,Prat,5,1,Cornell√†,Prat,None
...,...,...,...,...,...,...,...,...
495,N√†stic de Tarragona,1-3,Olot,1,3,Olot,N√†stic de Tarragona,None
496,Badalona,5-4,Prat,5,4,Badalona,Prat,None
497,Olot,4-5,Llagostera,4,5,Llagostera,Olot,None
498,FC Barcelona,3-1,Cornell√†,3,1,FC Barcelona,Cornell√†,None
499,Olot,0-5,Granollers,0,5,Granollers,Olot,None

In [24]:
### Funci√≥n

def tabla_clasificacion(df):

    '''
    Crea un nuevo dataframe extrapolando los datos
    que necesita del dataframe que recibe
    '''

    equipos = []
    
    for equipo in df.iloc[:,0]:
      if equipo not in equipos:
          equipos.append(equipo)

    df_clasificacion = pd.DataFrame(index = equipos)
    df_clasificacion.index.name = "equipo"

    df_clasificacion["partidos_ganados"] = df["ganador"].value_counts()

    df_clasificacion["partidos_perdidos"] = df["perdedor"].value_counts()
                      
    df_clasificacion["partidos_empatados"] = df["empate"].explode().value_counts()

    df_clasificacion["goles_marcados"] = (df.groupby("equipo_local")["goles_local"].sum().add(df.groupby("equipo_visitante")["goles_visitante"].sum()))

    df_clasificacion["goles_encajados"] = (df.groupby("equipo_local")["goles_visitante"].sum().add(df.groupby("equipo_visitante")["goles_local"].sum()))

    df_clasificacion["diferencia_goles"] = (df_clasificacion["goles_marcados"]-df_clasificacion["goles_encajados"])

    df_clasificacion["puntos"] = ((df_clasificacion["partidos_ganados"] * 3).add(df_clasificacion['partidos_empatados']))

    '''
    Ordena el dataframe por: 
    -puntos (desc) 
    -diferencia goles (desc)
    (nel caso tenga empacte de puntaci√≥n)


    crea nuevo index clasificacion

    calula: 
    -el equipo con max-goles marcados (dinamico,considera posibles empate)
    -el equipo con max-goles recibidos (dinamico,considera posibles empate)

    En fin devuelve tabla clasificaci√≥n final y la tabla de goles totales por equipo
    
    '''

    df_clasificacion = df_clasificacion.sort_values(by = ["puntos","diferencia_goles"], ascending=False)

    df_clasificacion = df_clasificacion.reset_index()

    df_clasificacion.index = range(1, len(df_clasificacion) + 1)

    df_clasificacion.index.name = "clasificacion_campeonato"

    

    valor_max_marcados = df_clasificacion["goles_marcados"].max()
    max_goles_marcados = df_clasificacion[df_clasificacion["goles_marcados"] == valor_max_marcados]
    max_goles_marcados = max_goles_marcados[["equipo","goles_marcados"]]


    valor_max_encajados = df_clasificacion["goles_encajados"].max()
    max_goles_encajados = df_clasificacion[df_clasificacion["goles_encajados"] == valor_max_encajados]
    max_goles_encajados = max_goles_encajados[["equipo","goles_encajados"]]


    tabla_goles = df_clasificacion.sort_values("goles_marcados", ascending= False)
    tabla_goles = tabla_goles[["equipo","goles_marcados"]]



    return tabla_goles,df_clasificacion,max_goles_marcados,max_goles_encajados

In [25]:
### Ejecuci√≥n

resultado = tabla_clasificacion(df_historic_partits_c)

tabla_goles,tabla,max_g,max_g_e = resultado

print("La tabla de goles totales marcados de cada equipo:\n")
display(tabla_goles)
print("\n")
print("La tabla del campeonato:\n")
display(tabla)
print("\n")
print("Equipo con maximo goles marcados:\n")
display(max_g)
print("\n")
print("Equipo con maximo goles encajados\n")
display(max_g_e)

La tabla de goles totales marcados de cada equipo:

                                       equipo  goles_marcados
clasificacion_campeonato
6                                    Figueres             161
2                                  Llagostera             159
10                                 Vilafranca             157
4                                    Cornell√†             147
8                                    Terrassa             147
3                                    Sabadell             141
1                                   Girona FC             139
11                                   Badalona             134
15                                       Olot             132
5                                RCD Espanyol             131
13                        N√†stic de Tarragona             130
7                             Lleida Esportiu             129
9                                FC Barcelona             125
16                                Sant Andreu             123
14                                 Granollers             122
12                              Reus Deportiu             119
19                                 Cerdanyola             117
17                                    Manlleu             106
18                                       Prat             106
20                                     Europa              93

La tabla del campeonato:

,equipo,partidos_ganados,partidos_perdidos,partidos_empatados,goles_marcados,goles_encajados,diferencia_goles,puntos
clasificacion_campeonato,,,,,,,,
1,Girona FC,31,13,3,139,94,45,96
2,Llagostera,29,20,7,159,142,17,94
3,Sabadell,26,15,7,141,121,20,85
4,Cornell√†,25,22,7,147,146,1,82
5,RCD Espanyol,23,21,11,131,144,-13,80
6,Figueres,23,23,10,161,154,7,79
7,Lleida Esportiu,23,23,6,129,133,-4,75
8,Terrassa,20,23,14,147,164,-17,74
9,FC Barcelona,22,15,7,125,115,10,73
10,Vilafranca,20,25,12,157,172,-15,72
11,Badalona,18,16,14,134,124,10,68
12,Reus Deportiu,20,16,8,119,111,8,68
13,N√†stic de Tarragona,20,27,8,130,148,-18,68
14,Granollers,21,24,4,122,117,5,67
15,Olot,18,26,10,132,144,-12,64
16,Sant Andreu,17,25,11,123,134,-11,62
17,Manlleu,16,18,9,106,118,-12,57
18,Prat,16,21,8,106,111,-5,56
19,Cerdanyola,17,28,5,117,133,-16,56
20,Europa,12,16,5,93,93,0,41

Equipo con maximo goles marcados:

                            equipo  goles_marcados
clasificacion_campeonato
6                         Figueres             161

Equipo con maximo goles encajados

                              equipo  goles_encajados
clasificacion_campeonato
10                        Vilafranca              172

### TASCA EXTRA ###

Me encanta la idea de darle un toque m√°s realista alla tasca final.  
He ido a buscar el reglamento oficial de la federaci√≥n y he profundizado en c√≥mo escribir la parte  
del c√≥digo que gestiona los empates de puntos en la clasificaci√≥n.

#### Reglamento de la Federaci√≥n Catalana de F√∫tbol ####

Teniendo en cuenta que el archivo trata sobre una competici√≥n futbol√≠stica de un campeonato de f√∫tbol catal√°n,  
he buscado el enlace oficial para basar la funci√≥n en su reglamento (por ejemplo, en caso de empate en la clasificaci√≥n).

[Federaci√≥ Catalana Futbol](https://www.fcf.cat/estatuts)

##### Resumen de reglas espec√≠ficas ‚Äî Criterios de desempate (Art. 220√®) #####


Cuando dos o m√°s equipos terminan empatados a puntos en la clasificaci√≥n, se aplica el siguiente orden jer√°rquico y excluyente:  

1.Puntos particulares:  
Puntuaci√≥n obtenida exclusivamente en los enfrentamientos directos entre los equipos empatados.    

2.Diferencia de goles particular:  
Balance de goles a favor y en contra √∫nicamente en esos duelos directos.  

3.Diferencia de goles general:  
Diferencia total entre goles marcados y encajados a lo largo de toda la competici√≥n.    

4.Goles marcados:  
Mayor n√∫mero total de goles anotados durante el campeonato.   

Empate absoluto: 
Si la igualdad persiste tras aplicar todos los criterios anteriores, se debe disputar un partido de desempate en campo neutral.

In [26]:
### Nueva funci√≥n que adapta el c√≥digo anterior

### Funci√≥n

def tabla_clasificacion(df):

    '''
    Crea un nuevo dataframe extrapolando los datos
    que necesita del dataframe que recibe
    '''

    equipos = []
    
    for equipo in df.iloc[:,0]:
      if equipo not in equipos:
          equipos.append(equipo)

    df_clasificacion = pd.DataFrame(index = equipos)
    df_clasificacion.index.name = "equipo"

    df_clasificacion["partidos_ganados"] = df["ganador"].value_counts()

    df_clasificacion["partidos_perdidos"] = df["perdedor"].value_counts()
                      
    df_clasificacion["partidos_empatados"] = df["empate"].explode().value_counts()

    df_clasificacion["goles_marcados"] = (df.groupby("equipo_local")["goles_local"].sum().add(df.groupby("equipo_visitante")["goles_visitante"].sum()))

    df_clasificacion["goles_encajados"] = (df.groupby("equipo_local")["goles_visitante"].sum().add(df.groupby("equipo_visitante")["goles_local"].sum()))

    df_clasificacion["diferencia_goles"] = (df_clasificacion["goles_marcados"]-df_clasificacion["goles_encajados"])

    df_clasificacion["puntos"] = ((df_clasificacion["partidos_ganados"] * 3).add(df_clasificacion['partidos_empatados']))


    ''' 
    Nueva parte del c√≥digo para gestionar empates en la clasificaci√≥n:
    Crea dos nuevas columnas que representan los puntos y la diferencia
    de goles obtenidos √∫nicamente en los enfrentamientos directos entre
    equipos con la misma puntuaci√≥n total. Luego agrupa los equipos por
    puntos y calcula estos valores para cada uno.

    ''' 

    df_clasificacion[["puntos_particulares", "dif_goles_particular"]] = 0

    for _, tabla_empatados in df_clasificacion.groupby("puntos"):
        if len(tabla_empatados) <= 1:
            continue

    
        equipos_empatados = tabla_empatados.index

        partidos_directos = df[df["equipo_local"].isin(equipos_empatados) & df["equipo_visitante"].isin(equipos_empatados)]


        for equipo in equipos_empatados:

            victorias = (partidos_directos["ganador"] == equipo).sum()

            empates = ((partidos_directos["empate"] == True) & ((partidos_directos["equipo_local"] == equipo) | (partidos_directos["equipo_visitante"] == equipo))).sum()

            puntos_particulares = victorias * 3 + empates

            goles_favor = (partidos_directos.loc[partidos_directos["equipo_local"] == equipo, "goles_local"].sum() +
                           partidos_directos.loc[partidos_directos["equipo_visitante"] == equipo, "goles_visitante"].sum())

            goles_contra = (partidos_directos.loc[partidos_directos["equipo_local"] == equipo, "goles_visitante"].sum() +
                            partidos_directos.loc[partidos_directos["equipo_visitante"] == equipo, "goles_local"].sum())

            df_clasificacion.loc[equipo, "puntos_particulares"] = puntos_particulares
            df_clasificacion.loc[equipo, "dif_goles_particular"] = goles_favor - goles_contra


    '''
    Ordena la clasifici√≥n del campeonato:
    - puntos
    - puntos particulares
    - dif_goles_particular
    - diferencias_goles
    - goles_marcados


    crea nuevo index clasificacion

    calula: 
    -el equipo con max-goles marcados (dinamico,considera posibles empate)
    -el equipo con max-goles recibidos (dinamico,considera posibles empate)

    En fin devuelve tabla clasificaci√≥n final y la tabla de goles totales por equipo
    
    '''


    df_clasificacion = df_clasificacion.sort_values(by=["puntos", "puntos_particulares", "dif_goles_particular", "diferencia_goles", "goles_marcados"], ascending=False)
    
    df_clasificacion = df_clasificacion.reset_index()

    df_clasificacion.index = range(1, len(df_clasificacion) + 1)
    df_clasificacion.index.name = "clasificacion_campeonato"


    valor_max_marcados = df_clasificacion["goles_marcados"].max()
    max_goles_marcados = df_clasificacion[df_clasificacion["goles_marcados"] == valor_max_marcados]
    max_goles_marcados = max_goles_marcados[["equipo","goles_marcados"]]


    valor_max_encajados = df_clasificacion["goles_encajados"].max()
    max_goles_encajados = df_clasificacion[df_clasificacion["goles_encajados"] == valor_max_encajados]
    max_goles_encajados = max_goles_encajados[["equipo","goles_encajados"]]


    tabla_goles = df_clasificacion.sort_values("goles_marcados", ascending= False)
    tabla_goles = tabla_goles[["equipo","goles_marcados"]]



    return tabla_goles,df_clasificacion, max_goles_marcados, max_goles_encajados

In [27]:
### Ejecuci√≥n

resultado = tabla_clasificacion(df_historic_partits_c)

tabla_goles,tabla,max_g,max_g_e = resultado

print("La tabla de goles marcados totales de cada equipo:\n")
display(tabla_goles)
print("\n")
print("La tabla del campeonato:\n")
display(tabla)
print("\n")
print("Equipo con maximo goles marcados:\n")
display(max_g)
print("\n")
print("Equipo con maximo goles encajados\n")
display(max_g_e)

La tabla de goles marcados totales de cada equipo:

                                       equipo  goles_marcados
clasificacion_campeonato
6                                    Figueres             161
2                                  Llagostera             159
10                                 Vilafranca             157
4                                    Cornell√†             147
8                                    Terrassa             147
3                                    Sabadell             141
1                                   Girona FC             139
12                                   Badalona             134
15                                       Olot             132
5                                RCD Espanyol             131
11                        N√†stic de Tarragona             130
7                             Lleida Esportiu             129
9                                FC Barcelona             125
16                                Sant Andreu             123
14                                 Granollers             122
13                              Reus Deportiu             119
19                                 Cerdanyola             117
17                                    Manlleu             106
18                                       Prat             106
20                                     Europa              93

La tabla del campeonato:

,equipo,partidos_ganados,partidos_perdidos,partidos_empatados,goles_marcados,goles_encajados,diferencia_goles,puntos,puntos_particulares,dif_goles_particular
clasificacion_campeonato,,,,,,,,,,
1,Girona FC,31,13,3,139,94,45,96,0,0
2,Llagostera,29,20,7,159,142,17,94,0,0
3,Sabadell,26,15,7,141,121,20,85,0,0
4,Cornell√†,25,22,7,147,146,1,82,0,0
5,RCD Espanyol,23,21,11,131,144,-13,80,0,0
6,Figueres,23,23,10,161,154,7,79,0,0
7,Lleida Esportiu,23,23,6,129,133,-4,75,0,0
8,Terrassa,20,23,14,147,164,-17,74,0,0
9,FC Barcelona,22,15,7,125,115,10,73,0,0
10,Vilafranca,20,25,12,157,172,-15,72,0,0
11,N√†stic de Tarragona,20,27,8,130,148,-18,68,12,3
12,Badalona,18,16,14,134,124,10,68,3,-1
13,Reus Deportiu,20,16,8,119,111,8,68,0,-2
14,Granollers,21,24,4,122,117,5,67,0,0
15,Olot,18,26,10,132,144,-12,64,0,0
16,Sant Andreu,17,25,11,123,134,-11,62,0,0
17,Manlleu,16,18,9,106,118,-12,57,0,0
18,Prat,16,21,8,106,111,-5,56,3,1
19,Cerdanyola,17,28,5,117,133,-16,56,3,-1
20,Europa,12,16,5,93,93,0,41,0,0

Equipo con maximo goles marcados:

                            equipo  goles_marcados
clasificacion_campeonato
6                         Figueres             161

Equipo con maximo goles encajados

                              equipo  goles_encajados
clasificacion_campeonato
10                        Vilafranca              172