<h1 style="text-align:center; color:blue; font-size:48px;">
üêç Creaci√≥n de funciones, estructuras de datos y bucles üêç
</h1>

<h2 style="text-align:center; color:gold; font-size:28px;">
Tarea S9.01
</h2>

#### NIVEL 1 ####

1. Calculadora del √≠ndice de masa corporal
Escribe una funci√≥n que calcule el IMC introducido por el usuario o usuaria; es decir, quien ejecute el programa deber√° ingresar estos datos.  
Puedes obtener m√°s informaci√≥n sobre su c√°lculo en : [√çndice de masa corporal IMC: qu√© es y c√≥mo se calcula.](https://muysalud.com/salud/indice-de-masa-corporal-imc-que-es-y-como-se-calcula/)

La funci√≥n debe clasificar el resultado en sus respectivas categor√≠as.

Consejo: 

Intenta validar previamente los datos, de manera que env√≠e un mensaje de advertencia si los valores introducidos 
por el usuario o usuaria no est√°n en el formato adecuado o no son razonables.


Categorias:

Bajo peso: menos de 18,5.  
Peso normal: 18,5-24,9.  
Sobrepeso: 25-29,9.  
Obesidad: m√°s de 30.  

Formula:

imc = peso_kg / (altura_m ** 2)

#### GUINESS WORLD RECORDS ####

Referencia a par√°metros realistas:

[El bebe m√°s ligero de la historia](https://www.guinnessworldrecords.com/world-records/lightest-birth)

[La persona m√°s pesada de la historia](https://www.guinnessworldrecords.com/world-records/heaviest-man)  


[El bebe m√°s bajo de la historia](https://www.guinnessworldrecords.com/world-records/shortest-baby)  

[La persona m√°s alta de la historia](https://www.guinnessworldrecords.es/records/hall-of-fame/robert-wadlow-tallest-man-ever)

In [1]:
# Codigo funci√≥n

def masa_corporal():
    """
    Calcula IMC a partir del peso (kg) y la altura (m).
    Valida los datos introducidos y devuelve el IMC (float) y la categor√≠a correspondiente.
    """
    while True:
        try:
            peso = float(input('Inserir su peso en kilogramos , gracias:').replace(",","."))
            if 0.212 < peso < 635:
                break
            else:
                print("El peso debe estar entre 0.212 kg y 635 kg. Si no entra en ese rango, solo lo acepto si tienes un Guinness World Record")
        except ValueError:
            print("Valor introducido an√≥malo, recuerda debe ser un numero intero o decimal")
            

    while True:
        try:
            altura = float(input('Inserir su altura en metros: ').replace(",","."))
            if 0.24 < altura < 2.72:
                break
            else:
                print("Altura fuera de rango. Si no est√° entre 0.24 m y 2.72 m, solo te la doy por buena si sales en el Guinness World Records")
        except ValueError:
            print("Valor introducido an√≥malo ,recuerda debe ser un numero decimal")



    imc = round(peso / (altura ** 2),2)

    x = ""

    if imc < 18.5:
        Categoria = "Bajo peso"
    elif 18.5 <= imc < 25:
        Categoria = "Peso normal"
    elif 25 <= imc < 30:
        Categoria = "Sobrepeso"
    else:
        Categoria = "Obesidad"

    return Categoria,imc

In [2]:
# Ejecuci√≥n de c√≥digo

imc_valoraci√≥n = masa_corporal()

categoria,valor = imc_valoraci√≥n


print("El valor de su IMC es:",valor,",","est√†s en la categoria: ",categoria)

El valor de su IMC es: 20.45 , est√†s en la categoria:  Peso normal

2. Convertidor de temperaturas.

Existen diversas unidades de temperatura utilizadas en distintos contextos y regiones. Las m√°s comunes son Celsius (¬∞C), Fahrenheit (¬∞F) y Kelvin (K).  
Tambi√©n existen otras unidades como Rankine (¬∞Ra) y R√©aumur (¬∞Re).  

Selecciona al menos 2 conversores, de manera que al introducir una temperatura devuelva, como m√≠nimo, dos conversiones, y que estas se puedan guardar (recuerda que un print() nunca se puede guardar).  


Consejo: Intenta validar los datos previamente, para que env√≠e un mensaje de advertencia si los datos introducidos por el usuario no est√°n en el formato adecuado.  

(EXTRA): Piensa en una manera de almacenar todas las posibles conversiones en un solo objeto (¬øLista? ¬øDiccionario? ¬øDataFrame?) en lugar de escribir muchos if y else seg√∫n la temperatura de origen y la de destino.

Soluci√≥n:

He encuentrado una pagina muy interesante para la resolucion de esta tasca:
[Pagina de conversi√≥n y explicaci√≥n unidades](https://www.metric-conversions.org/)

In [3]:
# Funci√≥n, voy a utilizar un mapa de conversiones (diccionario) de las varias unidades de las temperaturas.

def conversor_temperaturas():

    '''
    Esta funci√≥n pregunta una temperatura y su unidad, entre:
    (C = Celsius, F = Fahrenheit , K =  Kelvin , RA = Rankine , RE = R√©aumur).
    Verifica que los datos introducido sean corectos y en fin converte
    las otras unidades a trav√©s del mapa de conversiones.
    '''

    Mapa_conversiones = {
    "C": {  
        "C":  lambda t: t,
        "F":  lambda t: round(t * 9/5 + 32,2),
        "K":  lambda t: round(t + 273.15,2),
        "RA": lambda t: round((t + 273.15) * 9/5,2),
        "RE": lambda t: round(t * 0.8,2)},
    "F": {  
        "C":  lambda t: round((t - 32) * 5/9,2),
        "F":  lambda t: t,
        "K":  lambda t: round((t - 32) * 5/9 + 273.15,2),
        "RA": lambda t: round(t + 459.67,2),
        "RE": lambda t: round((t - 32) * 4/9,2)},
    "K": {  
        "C":  lambda t: round(t - 273.15,2),
        "F":  lambda t: round((t - 273.15) * 9/5 + 32,2),
        "K":  lambda t: t,
        "RA": lambda t: round(t * 9/5,2),
        "RE": lambda t: round((t - 273.15) * 0.8,2)},
    "RA": {  
        "C":  lambda t: round((t - 491.67) * 5/9,2),
        "F":  lambda t: round(t - 459.67,2),
        "K":  lambda t: round(t * 5/9,2),
        "RA": lambda t: t,
        "RE": lambda t: round((t - 491.67) * 4/9,2)},
    "RE": {  
        "C":  lambda t: round(t * 1.25,2),
        "F":  lambda t: round(t * 2.25 + 32,2),
        "K":  lambda t: round(t * 1.25 + 273.15,2),
        "RA": lambda t: round((t * 1.25 + 273.15) * 9/5,2),
        "RE": lambda t: t}}


    while True:
        try:
            temperatura = round(float(input("Por favor inserir la temparatura para poder hacer conversi√≥n :").replace(",",".")),2)
            break
        except ValueError:
            print("Debes introducir un numero v√°lido, entero o decimal, vuelvas a intentarlo")


    while True:
            unidad_origen = input("Inserir la unidad de la temperatura entre : 'C', 'F', 'K', 'RA', 'RE'").strip().upper()
            if unidad_origen in ("C", "F", "K", "RA", "RE"):
                break
            print("Unidad no v√°lida, vuelve a intentarlo.")


    resultado = {}
    for unidad_destino, conversiones in Mapa_conversiones[unidad_origen].items():
        resultado[unidad_destino] = conversiones(temperatura)
    
    return resultado

In [4]:
### Ejecuci√≥n funci√≥n


resultado_conversion = conversor_temperaturas()

print("Los resultados de las conversiones son:\n",resultado_conversion)

Los resultados de las conversiones son:
 {'C': 30.0, 'F': 86.0, 'K': 303.15, 'RA': 545.67, 'RE': 24.0}

In [5]:
### Extra , creo un dataframe para guardar los resultados :
### Index = numero de conversiones que quiere hacer el usuario
### Columnas = unidades_temp

import pandas as pd

unidades_temp = ["C", "F", "K", "RA", "RE"]

while True:
    try:
        numero_de_conversiones = int(input('por favor inserir el numero de las conversiones que se desea hacer :'))
        break
    except ValueError:
        print('Por favor vuelvas a intentarlos , has inserito un numero no valido')



df = pd.DataFrame(index=range(1, numero_de_conversiones + 1), columns=unidades_temp)

df.index.name = "Conversi√≥n"

df

              C    F    K   RA   RE
Conversi√≥n
1           NaN  NaN  NaN  NaN  NaN
2           NaN  NaN  NaN  NaN  NaN
3           NaN  NaN  NaN  NaN  NaN
4           NaN  NaN  NaN  NaN  NaN
5           NaN  NaN  NaN  NaN  NaN

In [6]:
### Bucle para inserir los resultados en el dataframe 

for n in range(1, numero_de_conversiones + 1):
    resultados = conversor_temperaturas()
    df.loc[n] = resultados

df

                C      F       K      RA     RE
Conversi√≥n
1            25.0   77.0  298.15  536.67   20.0
2           31.11   88.0  304.26  547.67  24.89
3            0.29  32.52  273.44  492.19   0.23
4           26.17   79.1  299.32  538.77  20.93
5           28.12  82.62  301.27  542.29   22.5

3. Contador de palabras de un texto.

Escribe una funci√≥n que, dado un texto, muestre cu√°ntas veces aparece cada palabra.  
Intenta gestionar todas las casu√≠sticas posibles que podr√≠an hacer que el programa falle.

(EXTRA): ¬øCu√°l es la longitud media de las palabras del texto que has escrito?

Por ejemplo:

‚ÄúHola com va?‚Äù deber√≠a devolver:
(4+3+2)/3 = 3

In [7]:
### Para gestionar los posibles errores voy a importar RE,que a trav√©s de su funci√≥n SUB,(IDIOMA CASTELLANO)
### me permite eliminar todo lo que pueda interferir : simbolos, numeros , signos, espacios multiples.

import re

def contador_de_palabras(texto):

    '''
    Comprueba que haya texto y lo limpia, eliminando :
    "simbolos , numeros, espacios multiples y signos".
    As√≠ da poder contar el numero de palabras y 
    devolver un diccionario con el numero de veces que
    aparece cada palabra
    '''

    if texto is None:
        raise ValueError("Error,tienes que inserir un testo.")
    texto = str(texto).strip()
    if texto == "":
        raise ValueError("Se requiere un texto no vac√≠o.")

    
    texto = texto.lower()
    texto_limpio = re.sub("[^a-z√°√©√≠√≥√∫√º√± ]"," ", texto)
    texto_limpio = re.sub(r"\s+", " ", texto_limpio).strip()
    texto_limpio = texto_limpio.split()

    if len(texto_limpio) == 0:
        return {}, 0.0

    dics_contador_palabras = {}

    for palabra in texto_limpio:
        if palabra in dics_contador_palabras:
            dics_contador_palabras[palabra] +=1
        else:
            dics_contador_palabras[palabra] = 1

    '''
    En esta parte, la funci√≥n calcula
    la media de las letras de las palabras
    '''
    
    lista_n_letras = []
    tot_palabras = len(texto_limpio)

    for palabra in texto_limpio:
        lista_n_letras.append(len(palabra))


    avg_letras_palabras = round(sum(lista_n_letras)/tot_palabras,1)


    return dics_contador_palabras,avg_letras_palabras

In [8]:
#Execuci√≥n de la funci√≥n 

resultado = contador_de_palabras(texto = input("Inserir un texto"))

print("Aqu√≠ podemos ver cu√°ntas veces aparece cada palabra :\n",resultado[0])
print("La media de letras por palabras es :\n",resultado[1])

Aqu√≠ podemos ver cu√°ntas veces aparece cada palabra :
 {'paso': 2, 'a': 1, 'se': 1, 'llega': 1, 'lejos': 1}
La media de letras por palabras es :
 3.5

4. Diccionario inverso (con posibilidad de duplicados)

Resulta que el cliente tiene una encuesta muy antigua que est√° almacenada en un diccionario y necesita los resultados al rev√©s,es decir, intercambiando las claves y los valores.  
Los valores y las claves en el diccionario original son √∫nicos; si no fuera as√≠, la funci√≥n deber√≠a imprimir un mensaje de advertencia junto con una lista de los valores asociados a la clave repetida.

In [9]:
### funci√≥n

def dics_inverso(dics):

    '''
    Esta funci√≥n recibe un diccionario y lo invierte,
    siempre que no haya duplicados en los valores que pasar√°n a ser claves.
    En caso de que existan duplicados, la funci√≥n muestra un mensaje de error
    y devuelve un diccionario con los valores repetidos y las claves asociadas.
    '''

    dic_inverso = {}

    for clave, valor in dics.items():
        if valor not in dic_inverso:
            dic_inverso[valor] = [clave]
        else:
            dic_inverso[valor].append(clave)

    for valor, claves in dic_inverso.items():
        if len(claves) > 1:
            print("Advertencia! La clave", valor, "tiene valores duplicados:", claves)

    return dic_inverso

In [10]:
### Ejecuci√≥n primero escenario sin duplicados.

a = {"A": 10, "B": 20, "C": 30}

dics_inverso(a)

{10: ['A'], 20: ['B'], 30: ['C']}

In [11]:
### Ejecuci√≥n secundo escenario con duplicados.

b = {"A": 1, "B": 2, "C": 1, "D": 3, "E": 2}

dics_inverso(b)

Advertencia! La clave 1 tiene valores duplicados: ['A', 'C']
Advertencia! La clave 2 tiene valores duplicados: ['B', 'E']

{1: ['A', 'C'], 2: ['B', 'E'], 3: ['D']}