#### NIVEL 1 ####

1. Calculadora del índice de masa corporal
Escribe una función que calcule el IMC introducido por el usuario o usuaria; es decir, quien ejecute el programa deberá ingresar estos datos.  
Puedes obtener más información sobre su cálculo en : [Índice de masa corporal IMC: qué es y cómo se calcula.](https://muysalud.com/salud/indice-de-masa-corporal-imc-que-es-y-como-se-calcula/)

La función debe clasificar el resultado en sus respectivas categorías.

Consejo: 

Intenta validar previamente los datos, de manera que envíe un mensaje de advertencia si los valores introducidos 
por el usuario o usuaria no están en el formato adecuado o no son razonables.


Categorias:

Bajo peso: menos de 18,5.  
Peso normal: 18,5-24,9.  
Sobrepeso: 25-29,9.  
Obesidad: más de 30.  

Formula:

imc = peso_kg / (altura_m ** 2)

#### GUINESS WORLD RECORDS ####

Referencia a parámetros realistas:

[El bebe más ligero de la historia](https://www.guinnessworldrecords.com/world-records/lightest-birth)

[La persona más pesada de la historia](https://www.guinnessworldrecords.com/world-records/heaviest-man)  


[El bebe más bajo de la historia](https://www.guinnessworldrecords.com/world-records/shortest-baby)  

[La persona más alta de la historia](https://www.guinnessworldrecords.es/records/hall-of-fame/robert-wadlow-tallest-man-ever)

In [2]:
### Codigo función

def masa_corporal():
    """
    Calcula IMC a partir del peso (kg) y la altura (m).
    Valida los datos introducidos y devuelve el IMC (float) y la categoría correspondiente.
    """
    while True:
        try:
            peso = float(input('Inserir su peso en kilogramos , gracias:').replace(",","."))
            if 0.212 < peso < 635:
                break
            else:
                print("El peso debe estar entre 0.212 kg y 635 kg. Si no entra en ese rango, solo lo acepto si tienes un Guinness World Record")
        except ValueError:
            print("Valor introducido anómalo, recuerda debe ser un numero intero o decimal")
            

    while True:
        try:
            altura = float(input('Inserir su altura en metros: ').replace(",","."))
            if 0.24 < altura < 2.72:
                break
            else:
                print("Altura fuera de rango. Si no está entre 0.24 m y 2.72 m, solo te la doy por buena si sales en el Guinness World Records")
        except ValueError:
            print("Valor introducido anómalo ,recuerda debe ser un numero decimal")



    imc = round(peso / (altura ** 2),2)

    x = ""

    if imc < 18.5:
        Categoria = "Bajo peso"
    elif 18.5 <= imc < 25:
        Categoria = "Peso normal"
    elif 25 <= imc < 30:
        Categoria = "Sobrepeso"
    else:
        Categoria = "Obesidad"

    return Categoria,imc

In [13]:
### Ejecución de código

imc_valoración = masa_corporal()

categoria,valor = imc_valoración


print("El valor de su IMC es:",valor,",","estàs en la categoria: ",categoria)

El valor de su IMC es: 20.45 , estàs en la categoria:  Peso normal

2. Convertidor de temperaturas.

Existen diversas unidades de temperatura utilizadas en distintos contextos y regiones. Las más comunes son Celsius (°C), Fahrenheit (°F) y Kelvin (K).  
También existen otras unidades como Rankine (°Ra) y Réaumur (°Re).  

Selecciona al menos 2 conversores, de manera que al introducir una temperatura devuelva, como mínimo, dos conversiones, y que estas se puedan guardar (recuerda que un print() nunca se puede guardar).  


Consejo: Intenta validar los datos previamente, para que envíe un mensaje de advertencia si los datos introducidos por el usuario no están en el formato adecuado.  

(EXTRA): Piensa en una manera de almacenar todas las posibles conversiones en un solo objeto (¿Lista? ¿Diccionario? ¿DataFrame?) en lugar de escribir muchos if y else según la temperatura de origen y la de destino.

Solución:

He encuentrado una pagina muy interesante para la resolucion de esta tasca:
[Pagina de conversión y explicación unidades](https://www.metric-conversions.org/)

In [4]:
# Función, voy a utilizar un mapa de conversiones (diccionario) de las varias unidades de las temperaturas.

def conversor_temperaturas():

    '''
    Esta función pregunta una temperatura y su unidad, entre:
    (C = Celsius, F = Fahrenheit , K =  Kelvin , RA = Rankine , RE = Réaumur).
    Verifica que los datos introducido sean corectos y en fin converte
    las otras unidades a través del mapa de conversiones.
    '''

    Mapa_conversiones = {
    "C": {  
        "C":  lambda t: t,
        "F":  lambda t: round(t * 9/5 + 32,2),
        "K":  lambda t: round(t + 273.15,2),
        "RA": lambda t: round((t + 273.15) * 9/5,2),
        "RE": lambda t: round(t * 0.8,2)},
    "F": {  
        "C":  lambda t: round((t - 32) * 5/9,2),
        "F":  lambda t: t,
        "K":  lambda t: round((t - 32) * 5/9 + 273.15,2),
        "RA": lambda t: round(t + 459.67,2),
        "RE": lambda t: round((t - 32) * 4/9,2)},
    "K": {  
        "C":  lambda t: round(t - 273.15,2),
        "F":  lambda t: round((t - 273.15) * 9/5 + 32,2),
        "K":  lambda t: t,
        "RA": lambda t: round(t * 9/5,2),
        "RE": lambda t: round((t - 273.15) * 0.8,2)},
    "RA": {  
        "C":  lambda t: round((t - 491.67) * 5/9,2),
        "F":  lambda t: round(t - 459.67,2),
        "K":  lambda t: round(t * 5/9,2),
        "RA": lambda t: t,
        "RE": lambda t: round((t - 491.67) * 4/9,2)},
    "RE": {  
        "C":  lambda t: round(t * 1.25,2),
        "F":  lambda t: round(t * 2.25 + 32,2),
        "K":  lambda t: round(t * 1.25 + 273.15,2),
        "RA": lambda t: round((t * 1.25 + 273.15) * 9/5,2),
        "RE": lambda t: t}}


    while True:
        try:
            temperatura = round(float(input("Por favor inserir la temparatura para poder hacer conversión :").replace(",",".")),2)
            break
        except ValueError:
            print("Debes introducir un numero válido, entero o decimal, vuelvas a intentarlo")


    while True:
            unidad_origen = input("Inserir la unidad de la temperatura entre : 'C', 'F', 'K', 'RA', 'RE'").strip().upper()
            if unidad_origen in ("C", "F", "K", "RA", "RE"):
                break
            print("Unidad no válida, vuelve a intentarlo.")


    resultado = {}
    for unidad_destino, conversiones in Mapa_conversiones[unidad_origen].items():
        resultado[unidad_destino] = conversiones(temperatura)
    
    return resultado

In [5]:
### Ejecución función


resultado_conversion = conversor_temperaturas()

print("Los resultados de las conversiones son:\n",resultado_conversion)

Unidad no válida, vuelve a intentarlo.
Unidad no válida, vuelve a intentarlo.
Unidad no válida, vuelve a intentarlo.
Unidad no válida, vuelve a intentarlo.
Los resultados de las conversiones son:
 {'C': 8.0, 'F': 46.4, 'K': 281.15, 'RA': 506.07, 'RE': 6.4}

In [14]:
### Extra , creo un dataframe para guardar los resultados :
### Index = numero de conversiones que quiere hacer el usuario
### Columnas = unidades_temp

import pandas as pd

unidades_temp = ["C", "F", "K", "RA", "RE"]

while True:
    try:
        numero_de_conversiones = int(input('por favor inserir el numero de las conversiones que se desea hacer :'))
        break
    except ValueError:
        print('Por favor vuelvas a intentarlos , has inserito un numero no valido')



df = pd.DataFrame(index=range(1, numero_de_conversiones + 1), columns=unidades_temp)

df.index.name = "Conversión"

df

              C    F    K   RA   RE
Conversión
1           NaN  NaN  NaN  NaN  NaN
2           NaN  NaN  NaN  NaN  NaN
3           NaN  NaN  NaN  NaN  NaN
4           NaN  NaN  NaN  NaN  NaN
5           NaN  NaN  NaN  NaN  NaN

In [15]:
### Bucle para inserir los resultados en el dataframe 

for n in range(1, numero_de_conversiones + 1):
    resultados = conversor_temperaturas()
    df.loc[n] = resultados

df

                C      F       K      RA     RE
Conversión
1            35.0   95.0  308.15  554.67   28.0
2           14.85  58.73   288.0   518.4  11.88
3           25.39   77.7  298.54  537.37  20.31
4           29.26  84.66  302.41  544.33   23.4
5           34.52  94.15  307.67  553.81  27.62

3. Contador de palabras de un texto.

Escribe una función que, dado un texto, muestre cuántas veces aparece cada palabra.  
Intenta gestionar todas las casuísticas posibles que podrían hacer que el programa falle.

(EXTRA): ¿Cuál es la longitud media de las palabras del texto que has escrito?

Por ejemplo:

“Hola com va?” debería devolver:
(4+3+2)/3 = 3

In [8]:
### Para gestionar los posibles errores voy a importar RE,que a través de su función SUB,(IDIOMA CASTELLANO)
### me permite eliminar todo lo que pueda interferir : simbolos, numeros , signos, espacios multiples.

import re

def contador_de_palabras(texto):

    '''
    Comprueba que haya texto y lo limpia, eliminando :
    "simbolos , numeros, espacios multiples y signos".
    Así da poder contar el numero de palabras y 
    devolver un diccionario con el numero de veces que
    aparece cada palabra
    '''

    if texto is None:
        raise ValueError("Error,tienes que inserir un testo.")
    texto = str(texto).strip()
    if texto == "":
        raise ValueError("Se requiere un texto no vacío.")

    
    texto = texto.lower()
    texto_limpio = re.sub("[^a-záéíóúüñ ]"," ", texto)
    texto_limpio = re.sub(r"\s+", " ", texto_limpio).strip()
    texto_limpio = texto_limpio.split()

    if len(texto_limpio) == 0:
        return {}, 0.0

    dics_contador_palabras = {}

    for palabra in texto_limpio:
        if palabra in dics_contador_palabras:
            dics_contador_palabras[palabra] +=1
        else:
            dics_contador_palabras[palabra] = 1

    '''
    En esta parte, la función calcula
    la media de las letras de las palabras
    '''
    
    lista_n_letras = []
    tot_palabras = len(texto_limpio)

    for palabra in texto_limpio:
        lista_n_letras.append(len(palabra))


    avg_letras_palabras = round(sum(lista_n_letras)/tot_palabras,1)


    return dics_contador_palabras,avg_letras_palabras

In [16]:
#Execución de la función 

resultado = contador_de_palabras(texto = input("Inserir un texto"))

print("Aquí podemos ver cuántas veces aparece cada palabra :\n",resultado[0])
print("La media de letras por palabras es :\n",resultado[1])

Aquí podemos ver cuántas veces aparece cada palabra :
 {'de': 1, 'paso': 2, 'en': 1, 'se': 1, 'llega': 1, 'lejos': 1}
La media de letras por palabras es :
 3.4

4. Diccionario inverso (con posibilidad de duplicados)

Resulta que el cliente tiene una encuesta muy antigua que está almacenada en un diccionario y necesita los resultados al revés,es decir, intercambiando las claves y los valores.  
Los valores y las claves en el diccionario original son únicos; si no fuera así, la función debería imprimir un mensaje de advertencia junto con una lista de los valores asociados a la clave repetida.

In [10]:
### función

def dics_inverso(dics):

    '''
    Esta función recibe un diccionario y lo invierte,
    siempre que no haya duplicados en los valores que pasarán a ser claves.
    En caso de que existan duplicados, la función muestra un mensaje de error
    y devuelve un diccionario con los valores repetidos y las claves asociadas.
    '''

    dic_inverso = {}

    for clave, valor in dics.items():
        if valor not in dic_inverso:
            dic_inverso[valor] = [clave]
        else:
            dic_inverso[valor].append(clave)

    for valor, claves in dic_inverso.items():
        if len(claves) > 1:
            print("Advertencia! La clave", valor, "tiene valores duplicados:", claves)

    return dic_inverso

In [11]:
### Ejecución primero escenario sin duplicados.

a = {"A": 10, "B": 20, "C": 30}

dics_inverso(a)

{10: ['A'], 20: ['B'], 30: ['C']}

In [12]:
### Ejecución secundo escenario con duplicados.

b = {"A": 1, "B": 2, "C": 1, "D": 3, "E": 2}

dics_inverso(b)

Advertencia! La clave 1 tiene valores duplicados: ['A', 'C']
Advertencia! La clave 2 tiene valores duplicados: ['B', 'E']

{1: ['A', 'C'], 2: ['B', 'E'], 3: ['D']}